<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ></ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/pagina2">Iniciar Seción</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="header">
    <img src="assets/logo.png" />
    <br>
    <h1>Registro</h1>
  </div>

  <br>

  <div class="formulario">
    <form [formGroup]="persona" (ngSubmit)="registrar()">
      <ion-item>
        <ion-label position="floating">Rut:</ion-label>
        <ion-input formControlName="elRut"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input formControlName="elNombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input formControlName="contraseña"></ion-input>
      </ion-item>
      
      <ion-button type="submit" color="primary" expand="block" [disabled]="!persona.valid">Registrar</ion-button>
      <ion-button color="secondary" expand="block" routerLink="/home">Volver</ion-button>


      <p style="text-align: center;">Al registrar aceptas nuestras condiciones de uso y politicas de privacidad.</p>

    </form>
  </div>
</ion-content>