<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="formulario">
    <h1 style="text-align: center;">TeLlevoAPP</h1>
    <form [formGroup]="persona" (ngSubmit)="registrar()">
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input formControlName="elRut"></ion-input>
      </ion-item>

      


      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="elNombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contraseña"></ion-input>
      </ion-item>
      
      <ion-button type="submit" color="primary" expand="block" [disabled]="!persona.valid">Registrar</ion-button>
      <ion-button color="secondary" expand="block" routerLink="/home">Volver</ion-button>


      <p style="text-align: center;">Al registrar aceptas nuestras condiciones de uso y politicas de privacidad.</p>

    </form>
  </div>
</ion-content>