<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <h1 style="text-align: center;">hola mundo querido precioso</h1>
  </div>

  <div> <h1 class="titulo" style="text-align: center;">{{Saludo}}</h1></div>

  <div>
    <ion-button color="primary" routerLink="/pagina1">Pagina 1</ion-button>
    <ion-button color="secondary" (click)="irPagina2()">pagina 2</ion-button>
    <ion-button color="tertiary" (click)="irPagina3()">pagina 3</ion-button>
  </div>


</ion-content>
