<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <h1 style="text-align: center;">TeLlevoAPP</h1>
  </div>

  <div>
    <h1 class="titulo" style="text-align: center;">{{Saludo}}</h1>
  </div>

  <div>
    <ion-button color="primary" routerLink="/pagina1">Registrate</ion-button>
    <ion-button color="secondary" routerLink="/pagina2">Iniciar sesión </ion-button>
    <ion-button color="tertiary" routerLink="/pagina3">Obtener codigo </ion-button>
  </div>


</ion-content>